<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yeadam.project.food.mapper.FoodMapper">

	<select id = "foodSelectList" resultType="co.yeadam.project.food.service.FoodVO">
		SELECT * FROM FOOD
	</select>
	
	<select id = "foodSelect" resultType="co.yeadam.project.food.service.FoodVO">
		SELECT * FROM FOOD WHERE FOOD_NAME = #{foodName}
	</select>

	<insert id = "foodInsert" parameterType="co.yeadam.project.food.service.FoodVO">
		 INSERT INTO FOOD VALUES ((SELECT MAX(FOOD_ID)+1 FROM FOOD), #{foodName}, #{foodPrice}, #{foodScript}, 0)
	</insert>
	
	<update id="foodUpdate" parameterType="co.yeadam.project.food.service.FoodVO">
		UPDATE FOOD SET FOOD_PRICE = #{foodPrice}, FOOD_SCRIPT = #{foodScript} WHERE FOOD_NAME = #{foodName}
	</update>

	<delete id="foodDelete" parameterType="co.yeadam.project.food.service.FoodVO">
		 DELETE FROM FOOD WHERE FOOD_NAME = #{foodName}
	</delete>

</mapper>